@model 

@{
    ViewData["Title"] = "Prediction";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can predict which team is going to win.</p>

<div class="form-group">
    <select id="ddlHeroes" asp-for="Id" class="form-control" asp-items="@"></select>
</div>